<a routerLink="/visibility" routerLinkActive="active">Visible</a> -
<a routerLink="/required" routerLinkActive="active">Required</a> -
<a routerLink="/confirmation" routerLinkActive="active">Confirmation</a> -
<a routerLink="/limitations" routerLinkActive="active">Limitations</a> -
<a routerLink="/filetype" routerLinkActive="active">Type de fichier</a> -
<a routerLink="/disposition" routerLinkActive="active">Disposition des blocks</a> -
<a routerLink="/step" routerLinkActive="active">Etapes</a> -
<a routerLink="/steppopup" routerLinkActive="active">Etapes avec popup</a> -


<router-outlet></router-outlet>
